/* ----------- 💫 https://github.com/JaKooLit 💫 -------- */

window {
  font-family: JetBrains Mono Medium;
  font-size: 16pt;
  color: #cdd6f4; /* text */
  background-color: rgba(30, 30, 46, 0.6);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  background-color: rgba(200, 220, 255, 0);
  animation: gradient_f 20s ease-in infinite;
  border-radius: 80px; /* Increased border radius for a more rounded look */
  transition: all 0.2s;
  margin: 10px;
  outline: none;
}

button:hover,
button:focus {
  background-color: #7aa2f7;
  color: #1e1e2e;
}

/* Adjust the size of the icon or content inside the button */
button span {
  font-size: 1.2em; /* Increase the font size */
}

#lock {
  background-image: image(url("./icons/lock.png"));
}
#lock:hover,
#lock:focus {
  background-image: image(url("./icons/lock-hover.png"));
}

#logout {
  background-image: image(url("./icons/logout.png"));
}
#logout:hover,
#logout:focus {
  background-image: image(url("./icons/logout-hover.png"));
}

#suspend {
  background-image: image(url("./icons/sleep.png"));
}
#suspend:hover,
#suspend:focus {
  background-image: image(url("./icons/sleep-hover.png"));
}

#shutdown {
  background-image: image(url("./icons/power.png"));
}
#shutdown:hover,
#shutdown:focus {
  background-image: image(url("./icons/power-hover.png"));
}

#reboot {
  background-image: image(url("./icons/restart.png"));
}
#reboot:hover,
#reboot:focus {
  background-image: image(url("./icons/restart-hover.png"));
}

#hibernate {
  background-image: image(url("./icons/hibernate.png"));
}
#hibernate:hover,
#hibernate:focus {
  background-image: image(url("./icons/hibernate-hover.png"));
}
